/* HELE CONTAINER MED INNHOLD*/
.container {
    border-top: 6px solid rgb(144, 139, 139);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

/* ---------------- TEKST BOKS ------------------ */
.text-container {
    width: 500px;
    height: 400;
    margin: -40px;
    margin-top: 70px;
    margin-left: 20px;
}

/* PARAGRAF*/
.text-container p {
    font-size: 19px;
    text-align: left;
    color:rgb(55, 57, 60);
    font-weight: 800;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(134, 129, 129, 0.5);
}

/*OVERSKRIFT*/
.text-container h1{
    font-size: 100px;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* Skygge med forskyvning */
    color:rgb(55, 57, 60);
}

.with-line {
    position: relative;
}

.with-line::after {
    content: ''; /* Legger til et visuelt element (linje) etter teksten */
    position: absolute; /* Posisjonerer linjen relativt til forelder (span) */
    bottom: -2px; /* Plasserer linjen rett under teksten */
    left: 0; /* Starter linjen fra venstre kant av teksten */
    width: 100%; /* Strekker linjen over hele bredden av teksten */
    border-bottom: 4px solid black; /* Definerer egenskaper for linjen (farge, tykkelse, stil) */
  }

  .uh-oh {
    font-size: 25px;
  }

/*LOGOENE I TEKST BOKSEN*/
.logo1, .logo2, .logo3, .logo4 {
    width: 60px;
    height: 60px;
    border: 2px solid rgb(64, 65, 69);
    border-radius: 15px;
    margin: 10px;
}

/* ---------------- BILDE BOKS ------------------ */

.tyv-picture {
    max-width: 400px;
    height: auto;
}

